<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一块盘-关于 - 传文件，找一块盘（永不限速）</title>
    <meta name=keywords content=传文件,网盘,云盘,网络硬盘,发文件,收文件,收集文件>
    <meta name=description content="一块盘，免费空间，一款永不限速的云存储产品。传文件、收文件、网盘，还支持历史记录等高级功能。">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/upload.css" rel="stylesheet">
</head>
<body>
<%- include('head.html'); %>
<div class="docs-header" id="content">
    <div class="container">
        <h1>私密、极速</h1>
        <p>文件上传下载支持支付宝、微信打赏</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>404~~~~~</h1>
            <p>你找的文件已丢失 <a href="/">返回首页</a></p>
        </div>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?26e2ac56b2d568c31b1958984527acbd";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</body>
</html>