<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>一块盘-关于 - 传文件，找一块盘（永不限速）</title>
    <meta name=keywords content=传文件,网盘,云盘,网络硬盘,发文件,收文件,收集文件>
    <meta name=description content="一块盘，免费空间，一款永不限速的云存储产品。传文件、收文件、网盘，还支持历史记录等高级功能。">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/upload.css" rel="stylesheet">
</head>

<body>
    <%- include('head.html'); %>
    <div class="docs-header" id="content">
        <div class="container">
            <h1>现在登录</h1>
            <p>注册即刻享有不限速网盘</p>
        </div>
    </div>
    <div class="loginwrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="/img/user.svg" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form id="login_form" action="multipart/form-data">
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="用户名">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="密码">
                <input type="submit" class="fadeIn fourth" value="登录">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter" class="row">
                <div class="col-md-6 col-xs-6">
                    <a class="underlineHover" href="/user/register">注册</a>
                </div>
                <div class="col-md-6 col-xs-6">
                    <a class="underlineHover" href="/user/findpasswd">忘记密码?</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script>
        $(function () {
            $("#login_form").submit(function (e) {
                e.preventDefault();
                // var data = new FormData($('#login_form')[0]);
                var data = $("#login_form").serializeObject();
                if (!data.username || !data.password) {
                    bootoast({
                        type: 'danger',
                        message: '请输入用户名或密码先',
                        timeout: 2,
                        position: 'top'

                    });

                    return;
                }
                $.post("/user/login", data, function (result) {
                    if (result.r == 200) {
                        window.Cookies.set('token', result.user.token, { expires: 70 })
                        bootoast({
                            type: 'success',
                            message: '登录成功，即将跳转',
                            timeout: 2,
                            position: 'top',
                            callback: function () {
                                window.location.href = "/"
                            }
                        });
                    } else {
                        bootoast({
                            type: 'danger',
                            message: '用户名或密码错误',
                            timeout: 2,
                            position: 'top'
                        });
                        return;
                    }
                })
                return false;
            });
        })
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?26e2ac56b2d568c31b1958984527acbd";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</body>

</html>